.headerGame {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    @media (min-width: 768px) {
      padding: 30px 50px;
    }
    &--hidden {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 100px;
      background-color: black;
      color: white;
      padding: 10px;
      box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
  
    }
  
    &__titleImage {
      cursor: pointer;
      height: 50px;
      width: 150px;
      @media (min-width: 768px) {
       height: 75px;
       width: 200px;
      }
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      text-align: center;
      &--img {
        width: 140px;
      }
      &--text {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor:pointer;
        max-width: 140px;
        text-decoration: none;
        color: black;
        &:hover{
          color: #e3491a;
          transform: scale(1.5);
          transition: transform 0.3s ease;
        }
      }
      &--hidden {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        text-align: start;
        width: 90vw;
        font-size: 1.8rem;
        transform: translate(-30%);
        list-style:disc;
        background-color: black;
        color: white;
        margin-right:10px;
        padding: 20px 30px;
        box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
        border-radius: 5px;
        z-index: 5;
        @media (min-width: 768px) {
          transform: translate(-60%,5%);
        }
        
      }
    }
  }

  .card {

    background-color: #212121;
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
   }
   
  //  .card:hover {
  //   border-bottom-right-radius: 10px;
  //   border-top-left-radius:10px;
  //   transform: scale(1.20);
  //  }