.headerGame {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    &--hidden {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 100px;
      background-color: black;
      color: white;
      padding: 10px;
      box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
    }
  
    &__titleImage {
      height: 50px;
      width: 150px;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      text-align: center;
      &--img {
        width: 140px;
      }
      &--text {
        font-size: 1rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      &--hidden {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 100px;
        background-color: black;
        color: white;
        padding: 10px;
        box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
        z-index: 5;
      }
    }
  }