.headerGame {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    @media (min-width: 768px) {
      padding: 30px 40px;
    }
    &--hidden {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 100px;
      background-color: black;
      color: white;
      padding: 10px;
      box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
  
    }
  
    &__titleImage {
      cursor: pointer;
      height: 50px;
      width: 150px;
      @media (min-width: 768px) {
       height: 100px;
       width: 250px;
      }
      @media (min-width: 1020px) {
        height: 120px;
        width: 280px;
        padding: 5px;
       }
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      text-align: center;
      background-color: rgb(255, 255, 255, 0.9);
      border-radius: 25px;
      padding: 0px 8px;
      color: white;
      &--img {
        width: 140px;
        position:absolute;
        right: 2%;
        top: 25%;
     
        @media (min-width: 768px) {
         width: 150px;
         }

        @media (min-width: 1028px) {
     
          width: 200px;
         }
      }
      &--text {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor:pointer;
        max-width: 140px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid black;
        padding: 5px;
        &:hover{
          color: #e3491a;
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
      &--hidden {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        right: 0;
        text-align: start;
        width: 90vw;
        font-size: 1.8rem;
       
        list-style:disc;
        background-color: black;
        color: white;
        margin-right:10px;
        padding: 20px 30px;
        box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
        border-radius: 5px;
        z-index: 5;
        i{
          font-size: 3rem;
          margin-left: 95%;
        }
      }
    }
  }


  .close {
    list-style: none;
  }  
  .tooltip {

    display: inline-block;
    cursor: pointer;
   
  }
  
  .tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 70%;
   right: 5%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltiptext::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 25%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
  
 
  
  .card {

    background-color: #212121;
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
   }
   
  //  .card:hover {
  //   border-bottom-right-radius: 10px;
  //   border-top-left-radius:10px;
  //   transform: scale(1.20);
  //  }

  .vibrate-1 {
    -webkit-animation: vibrate-1 0.8s linear infinite both;
            animation: vibrate-1 0.8s linear infinite both;
  }

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
