<header class="headerGame">
    <img
      class="headerGame__titleImage"
      src="/images/Back_to_the_Future_film_series_logo.webp"
      alt=""
    />
    <nav class="headerGame__nav js-nav">
      <p class="headerGame__nav--text">¿Cómo se juega?</p>
      <img
        class="headerGame__nav--img bounce-top"
        src="/images/matrícula.jpg"
        alt=""
      />
      <p class="headerGame__nav--hidden js-navText hidden">
        Tienes un total de 7 tiradas de dados para intentar que tu viaje en el
        tiempo no destruya la galaxia. Para eso, no puedes encontrarte con tu
        otro tú , no puede aparecer un complemento incoherente con la fecha ni
        un lugar que todavía no exista... Desafía a la línea temporal!!
      </p>
    </nav>
  </header>