<header class="headerGame" id="header">
    <a href="./index.html">
      <img
      class="headerGame__titleImage"
      src="./images/Back_to_the_Future_film_series_logo.webp"
      alt="logo Back to the Future"
    />
    </a>
    <!-- <nav class="headerGame__nav  tooltip">
      <p class="headerGame__nav--text tooltiptext js-nav">¿Cómo se juega?</p> -->
      <!-- <a href="#time" class="headerGame__nav--text ">Consulta la línea temporal</a> -->
      <label class="switch">
        <input type="checkbox">
        <span class="toggle js-toggle">Pistas
        </span>
      </label>
      <!-- <img
        class="headerGame__nav--img vibrate-1 icon"
        src="./images/matrícula.jpg"
        alt=""
      /> -->
      <div>

      <ul class="headerGame__nav--hidden js-navText hidden card">
        <li class="close"><i class="fa-solid fa-xmark"></i></li>
        <li>Elige con quién vas a viajar en el Delorean.</li> 
        <li>Selecciona "Empezar a Jugar".</li>
        <li>Tira los dados haciendo click en cada uno.</li>
        <li>Tienes 7 tiradas en total para intentar que tu combinación de dados durante el viaje en el
          tiempo no destruya la galaxia.</li>
        <li>No puedes encontrarte con tu
          otro tú o con alguien que aún no exista, no puede aparecer un complemento incoherente con la fecha ni
          estar en un lugar que todavía no exista... </li>
        <li>Desafía a la línea temporal!!</li>
      </ul>
    </div>
    </nav>
  </header>