@import 'core/variables';
@import 'core/reset';
// // @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
@import 'layout/headerGame';
// @import 'layout/hero';
// @import 'layout/footer';
// @import 'pages/index';

.hidden {
  display: none;
}

// .body {
//   display: flex;
//   flex-direction: column;
//   gap: 100px;
// }
.start {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  &--hidden {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 100px;
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
  }

  &__titleImage {
    height: 150px;
    width: 300px;
  }
  &__nav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    &--img {
      width: 150px;
    }
    &--text {
      font-size: 1.5rem;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    &--hidden {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 100px;
      background-color: black;
      color: white;
      padding: 10px;
      box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.65);
      z-index: 5;
    }
  }
}
.bounce-top {
  -webkit-animation: bounce-top 0.9s 2s both;
  animation: bounce-top 0.9s 2s both;
}

.backSection {
  background-image: url('/images/title2.webp');
  background-color: transparent;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 70vh;
    padding: 20px;
  }
  &__button {
    position: absolute;
    top: 400px;
  }
}

.gameSectionPlay {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.characterSection,
.diceSection {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  &__title {
    font-size: 1.5rem;
    text-align: center;
  }

  &__container {
    display: flex;
    gap: 50px;
  }
  &__img {
    width: 100px;
    object-fit: contain;
    @media (min-width: 768px) {
      width: 200px;
      object-fit: cover;
    }
    
  }

  &__characters {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    cursor: pointer;
    &--each {
      font-size: 1.5rem;

      &:hover {
        color: #e3491a;
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }
  }
}
.gif {
  width: 250px;
}

.diceSection {
  &__dice--text {
    font-size: 1.7rem;
    &:hover {
      color: #e3491a;
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }

  &__counter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    font-size: 1.7rem;
    &--initial {
      display: flex;
      gap: 20px;
    }
    &--initialImg {
      width: 50px;
    }
    &--initialText {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.7rem;
    }
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.3;
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
